doctype html
html
    head
        title Digital Shift
        link(rel='stylesheet', href='/css/styles.css')
        // Bootstrap CDN
        link(
            rel='stylesheet',
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css',
            integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS',
            crossorigin='anonymous')
        link(rel='icon', type='image/png', href='/img/icon.png')

    body
        nav.navbar.navbar-dark.bg-dark
            img.img-fluid(src='/img/logo.png')

        block content
